<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A23_Express</title>
  <link rel="stylesheet" href="/style_sheets/main.css">
</head>

<body>
  {{!-- navbar --}}
  <nav>
    <div class="navbar">
      <div class="brand"><a class="navitem" href="/">回到首頁</a></div>
      <div class="navlist">
        <a id="about" class="navitem about" href="/about">About</a>
        <a id="portfolio" class="navitem portfolil" href="/portfolio">Portfolio</a>
        <a id="contact" class="navitem contact" href="/contact">Contact</a>
      </div>
    </div>
  </nav>

  {{{body}}}

  <script>
    if (location.pathname.length > 1) {
      let pathname = location.pathname.substring(1)
      console.log(pathname)
      const item = document.getElementById(pathname)
      item.classList.add('actived');
    }
  </script>
</body>

</html>
